body { 
    background-color: #5b7a7f; 
    color: #333; 
    font-family: Arial, sans-serif; 
    padding: 20px; 
}
h2{
    color: blue
}
h1{
    color: red
}
#naissance{color: orange}
.violet{color: violet}